Fluct*
#classes.py
/core
.env
/NaramoV1/bot
/NaramoV1/cli/findHeatCopy.py
/NaramoV2/bot
template*
/readmeblegh
/NaramoV1/core/parse_csv.py
/NaramoV1/core/test.py
/NaramoV1/core/inputVals.py
/NaramoV1/core/findHeat.py
/NaramoV1/core/trainingdata.csv
/dev
/NaramoV2/pluh
/NaramoV2/dev
/NaramoV2/core
